@import "tailwindcss";

@theme {
  /* COLORS */
  --color-trk-deep-blue: #005aa7;
  --color-trk-light-blue: #009bdf;
  --color-trk-light-gray: #cccccc;
  --color-trk-black: #000000;
  --color-trk-white: #ffffff;

  /*  */
}

/*
Dette er ikke i bruk?
-------------------
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

